<ion-header>
  <ion-toolbar>
    <ion-title>
      Assistant Google
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Assistant Google</ion-title>
    </ion-toolbar>
  </ion-header>

  <div  #somecontainer>

<div style="height:50px;"></div>
<ion-grid>
  <ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="Film">
<ion-icon name="film-outline"></ion-icon>
<span>Film</span></a>

</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="your sayings">
<ion-icon name="list-outline"></ion-icon>
<span>your sayings</span></a>

</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="favoris">
<ion-icon name="heart-outline"></ion-icon>
<span>favoris</span></a>

</ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="nouveau">
<ion-icon name="pricetag-outline"></ion-icon>
<span>nouveau</span></a>

</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="animal">
<ion-icon name="paw-outline"></ion-icon>
<span>animal</span></a>

</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="artificial intelligence">
<ion-icon name="logo-electron"></ion-icon>
<span>artificial intelligence</span></a>

</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="commande basique">
<ion-icon name="terminal-outline"></ion-icon>

<span>commande basique</span></a>

</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="livres">
<ion-icon name="library-outline"></ion-icon>

<span>livres</span></a>

</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="ville capitales">
<ion-icon name="map-outline"></ion-icon>
<span>ville capitales</span></a>

</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="rechauffement climat">
<ion-icon name="rainy-outline"></ion-icon>
<span>rechauffement climat</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="traduire">
<ion-icon name="language-outline"></ion-icon>
<span>traduire</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="connectivity">
<ion-icon name="git-network"></ion-icon>
<span>connectivity</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="comedie">
<ion-icon name="color-palette-outline"></ion-icon>
<span>comedie</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="conversion">
<ion-icon name="cafe-outline"></ion-icon>
<span>conversion</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="cuisine">
<ion-icon name="pizza-outline"></ion-icon>
<span>cuisine</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="vie de jour en jour">
<ion-icon name="calendar-number-outline"></ion-icon>
<span>vie de jour en jour</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="dates">
<ion-icon name="calendar-outline"></ion-icon>
<span>dates</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="do it yourself">
<ion-icon name="hammer-outline"></ion-icon>
<span>do it yourself</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="oeuf de paque">
<ion-icon name="egg-outline"></ion-icon>
<span>oeuf de paque</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="education">
<ion-icon name="school-outline"></ion-icon>
<span>education</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="jeux">
<ion-icon name="game-controller-outline"></ion-icon>
<span>jeux</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="jardinage">
<ion-icon name="leaf-outline"></ion-icon>
<span>jardinage</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="fais ma connaissance">
<ion-icon name="body-outline"></ion-icon>
<span>fais ma connaissance</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="maison interactive">
<ion-icon name="home-outline"></ion-icon>
<span>maison interactive</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="jardinage">
<ion-icon name="leaf-outline"></ion-icon>
<span>jardinage</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="blague">
<ion-icon name="happy-outline"></ion-icon>
<span>blague</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="lois">
<ion-icon name="scale-outline"></ion-icon>
<span>lois</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="lettres">
<ion-icon name="book-outline"></ion-icon>
<span>lettres</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="maths">
<ion-icon name="calculator-outline"></ion-icon>
<span>maths</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="lois">
<ion-icon name="barbell-outline"></ion-icon>
<span>lois</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="media">
<ion-icon name="disc-outline"></ion-icon>
<span>media</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="music">
<ion-icon name="musical-notes-outline"></ion-icon>
<span>music</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="journal">
<ion-icon name="newspaper-outline"></ion-icon>
<span>journal</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="podcasts et spectacle">
<ion-icon name="newspaper-outline"></ion-icon>
<span>podcasts et spectacle</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="pop culture">
<ion-icon name="tv-outline"></ion-icon>
<span>pop culture</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="radio">
<ion-icon name="radio-outline"></ion-icon>
<span>radio</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="relax">
<ion-icon name="flower-outline"></ion-icon>
<span>relax</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="science">
<ion-icon name="telescope-outline"></ion-icon>
<span>science</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="shoppin">
<ion-icon name="cart-outline"></ion-icon>
<span>shopping</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="voyage">
<ion-icon name="briefcase-outline"></ion-icon>
<span>voyage</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="télé">
<ion-icon name="tv-outline"></ion-icon>
<span>télé</span></a>
</ion-col>
    <ion-col size-md="12">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="wake up">
<ion-icon name="mic-outline"></ion-icon>
<span>wake up</span></a>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="météo">
<ion-icon name="partly-sunny-outline"></ion-icon>
<span>météo</span></a>
</ion-col>
    <ion-col size-md="6">
<a (click)="myassistant($event)" aria-hidden="false" aria-label="coupe du monde">
<ion-icon name="medal-outline"></ion-icon>
<span>coupe du monde</span></a>
</ion-col>
</ion-row>
</ion-grid>

  </div>
</ion-content>
