<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div #somecontainer>

<div style="height:600px;"></div>
<ion-grid>
  <ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="Film">
<ion-icon name="film-outline"></ion-icon>
</ion-button>

</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="your sayings">
<ion-icon name="list-outline"></ion-icon>
</ion-button>

</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="favoris">
<ion-icon name="heart-outline"></ion-icon>
</ion-button>

</ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="nouveau">
<ion-icon name="pricetag-outline"></ion-icon>
</ion-button>

</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="animal">
<ion-icon name="paw-outline"></ion-icon>
</ion-button>

</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="artificial intelligence">
<ion-icon name="logo-electron"></ion-icon>
</ion-button>

</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="commande basique">
<ion-icon name="terminal-outline"></ion-icon>

</ion-button>

</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="livres">
<ion-icon name="library-outline"></ion-icon>

</ion-button>

</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="ville capitales">
<ion-icon name="map-outline"></ion-icon>
</ion-button>

</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="rechauffement climat">
<ion-icon name="rainy-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="traduire">
<ion-icon name="language-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="connectivity">
<ion-icon name="git-network"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="comedie">
<ion-icon name="color-palette-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="conversion">
<ion-icon name="cafe-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="cuisine">
<ion-icon name="pizza-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="vie de jour en jour">
<ion-icon name="calendar-number-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="dates">
<ion-icon name="calendar-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="do it yourself">
<ion-icon name="hammer-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="oeuf de paque">
<ion-icon name="egg-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="education">
<ion-icon name="school-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="jeux">
<ion-icon name="game-controller-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="jardinage">
<ion-icon name="leaf-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="fais ma connaissance">
<ion-icon name="body-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="maison interactive">
<ion-icon name="home-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="jardinage">
<ion-icon name="leaf-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="blague">
<ion-icon name="happy-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="lois">
<ion-icon name="scale-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="lettres">
<ion-icon name="book-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="maths">
<ion-icon name="calculator-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="lois">
<ion-icon name="barbell-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="media">
<ion-icon name="disc-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="music">
<ion-icon name="musical-notes-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="journal">
<ion-icon name="newspaper-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="podcasts et spectacle">
<ion-icon name="newspaper-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="pop culture">
<ion-icon name="tv-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="radio">
<ion-icon name="radio-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="relax">
<ion-icon name="flower-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="science">
<ion-icon name="telescope-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="shopping">
<ion-icon name="cart-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="voyage">
<ion-icon name="briefcase-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="télé">
<ion-icon name="tv-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="12">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="wake up">
<ion-icon name="mic-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>
<ion-grid>
<ion-row>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="météo">
<ion-icon name="partly-sunny-outline"></ion-icon>
</ion-button>
</ion-col>
    <ion-col size-md="6">
<ion-button onclick="myassistant($event)"   aria-hidden="false" aria-label="coupe du monde">
<ion-icon name="medal-outline"></ion-icon>
</ion-button>
</ion-col>
</ion-row>
</ion-grid>

  </div>
</ion-content>
